.term-of-use
    a.uk-link.uk-margin-top.uk-margin-large-right(
        href="https://ptopenlab.com/cloudlabconsole/#/termofuse"
        target="_blank") Term of use
    a.uk-link.uk-margin-top(href="/change_logs.html" target="_blank") Change logs