---
version: '2'

services:

  fabriccli:
    container_name: fabriccli
    image: {{ fabric.repo.url }}fabric-tools:{{ fabric.baseimage_tag }}
    network_mode: bridge
    hostname: fabriccli
    environment:
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_LOGGING_LEVEL=DEBUG
    volumes:
      - /var/run/:/host/var/run/
      - {{ fabricworkdir }}/run/keyfiles:/etc/hyperledger/allorgs
      - {{ fabricworkdir }}/run/keyfiles/chaincode:/opt/gopath/src/chaincode
    entrypoint: /etc/hyperledger/allorgs/dochannel.sh
