apiVersion: v1
kind: ConfigMap
metadata:
  name: ${CONFIG_API_ENGINE_NAME}
data:
  WEBROOT: ${API_ENGINE_WEBROOT}
  DB_USER: ${POSTGRES_USER}
  DB_PASSWORD: ${POSTGRES_PASSWORD}
  DB_NAME: api-engine
  DB_HOST: ${SERVICE_POSTGRES_NAME}
  DB_PORT: "5432"
  SSO_ID: ${API_ENGINE_K8S_SSO_KEY}
  SSO_SECRET: ${API_ENGINE_K8S_SSO_SECRET}
  SSO_AUTH_URL: ${API_ENGINE_SSO_AUTH_URL}
  SSO_REALM: ${KEYCLOAK_REALM}
  KEYCLOAK_REALM: $KEYCLOAK_REALM
  KEYCLOAK_SERVER: $SERVICE_KEYCLOAK_NAME
  KEYCLOAK_ADMIN_NAME: $KEYCLOAK_ADMIN_NAME
  KEYCLOAK_ADMIN_PASSWORD: $KEYCLOAK_ADMIN_PASSWORD
  ADMIN_TOKEN: $API_ENGINE_ADMIN_TOKEN
