apiVersion: v1
kind: ConfigMap
metadata:
  name: ${CONFIG_API_ENGINE_NAME}
data:
  WEBROOT: ${API_ENGINE_WEBROOT}
  DB_USER: ${POSTGRES_USER}
  DB_PASSWORD: ${POSTGRES_PASSWORD}
  DB_NAME: api-engine
  DB_HOST: ${SERVICE_POSTGRES_NAME}
  DB_PORT: "5432"
  ADMIN_TOKEN: $API_ENGINE_ADMIN_TOKEN
  CELERY_BROKER_URL: "redis://$SERVICE_REDIS_NAME"
  ADMIN_USERNAME: $API_ENGINE_ADMIN_USERNAME
  ADMIN_PASSWORD: $API_ENGINE_ADMIN_PASSWORD
  ADMIN_EMAIL: $API_ENGINE_ADMIN_EMAIL
  DOCKER_HOST: "$API_DOCKER_HOST"
  API_VERSION: "$API_VERSION"
