apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ${INGRESS_API_ENGINE_NAME}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
spec:
  rules:
  - http:
      paths:
      - path: ${API_ENGINE_WEBROOT}
        backend:
          serviceName: ${SERVICE_API_ENGINE_NAME}
          servicePort: 8080
