apiVersion: v1
kind: Service
metadata:
  name: ${SERVICE_API_ENGINE_NAME}
  labels:
    app: ${SERVICE_API_ENGINE_NAME}
spec:
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: uwsgi
  selector:
    app: ${DEPLOY_API_ENGINE_NAME}
