apiVersion: v1
kind: ConfigMap
metadata:
  name: ${CONFIG_KEYCLOAK_NAME}
data:
  KEYCLOAK_USER: $KEYCLOAK_ADMIN_NAME
  KEYCLOAK_PASSWORD: $KEYCLOAK_ADMIN_PASSWORD
  DB_ADDR: $SERVICE_MYSQL_NAME
  DB_USER: $KEYCLOAK_DB_USERNAME
  DB_PASSWORD: $KEYCLOAK_DB_PASSWORD
  PROXY_ADDRESS_FORWARDING: "true"
  DB_VENDOR: mysql
