apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ${DEPLOY_KEYCLOAK_NAME}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ${DEPLOY_KEYCLOAK_NAME}
    spec:
      containers:
      - name: keycloak
        image: jboss/keycloak:4.8.0.Final
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          name: http
        - containerPort: 8443
          name: https
        envFrom:
        - configMapRef:
            name: ${CONFIG_KEYCLOAK_NAME}
