apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ${INGRESS_KEYCLOAK_NAME}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - http:
      paths:
      - path: /auth
        backend:
          serviceName: ${SERVICE_KEYCLOAK_NAME}
          servicePort: 8080
