apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ${INGRESS_KEYCLOAK_NAME}
spec:
  rules:
  - http:
      paths:
      - path: /auth
        backend:
          serviceName: ${SERVICE_KEYCLOAK_NAME}
          servicePort: 8080
