
/* Copyright IBM Corp, All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 */

@CHARSET "UTF-8";
.header{background:#353535 none repeat scroll 0 0;padding:0px;border:none;}
.header >ul li a{height:60px;line-height:60px;padding:0px 25px;color:#FCFCFC;text-shadow:none;}
.uk-navbar-nav{z-index:0;}
.uk-navbar-nav > li.uk-active > a,.uk-navbar-nav > li.uk-active:hover > a{
background-color:#353535;
text-shadow:none;
color:#5AAAFA;
border-bottom:#5AAAFA solid 4px;
font-size:16px;
}
.uk-navbar-nav > li > a{font-size:16px;}
.uk-navbar-nav > li:hover > a,.uk-navbar-nav > li > a:focus,.uk-navbar-nav > li.uk-open > a {
background-color:#353535;
text-shadow:none;
color:#FCFCFC;
border-bottom:#5AAAFA solid 4px;
font-size:16px;
}
.dashboard-sign-out{position:absolute;top:10px;right:30px;}
.dashboard-sign-out >a{
color:#FFFFFF;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:16px;
border:1px solid #FFFFFF;padding:7px 13px 7px 12px;
-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;
}
.dashboard-sign-out >a:hover{text-decoration:none;background:#FB966E;color:#fff;}
.uk-nav-dropdown > li > a:hover,.uk-nav-dropdown > li > a:focus{background:#4178BE;}