
/* Copyright IBM Corp, All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 */

@CHARSET "UTF-8";
.fullscreen-overlayer{position:fixed;top:0;left:0;right:0;bottom:0;background:#fafafa;opacity:0;z-index:1000;}
.fullscreen-progress{position:absolute;top:0;left:0;width:0;height:3px;
background:rgba(90,170,250,0.8);box-shadow:0 0 6px rgba(255,255,255,0.8);}
.fullscreen-iconrefresh{position:absolute;width:20px;height:20px;top:5px;right:5px;color:rgba(90,170,250,0.8);}