apiVersion: v1
kind: ConfigMap
metadata:
  name: ${CONFIG_WATCHDOG_NAME}
data:
  LOG_LEVEL: $LOG_LEVEL
  PARSE_API_ROOT: http://$SERVICE_PARSE_SERVER_NAME:1337/parse
  PARSE_SERVER_APPLICATION_ID: $PARSE_SERVER_APPLICATION_ID
  PARSE_SERVER_MASTER_KEY: $PARSE_SERVER_MASTER_KEY
  PARSE_SERVER_REST_API_KEY: $PARSE_SERVER_REST_API_KEY
