---
version: '2'

services:

{% for kafka in kafkas %}
  {{ kafka }}:
    container_name: {{ kafka }}
    image: {{ fabric.repo.url }}fabric-kafka:{{ fabric.helper_tag }}
    restart: always
    network_mode: bridge
    hostname: {{ kafka }}
    environment:
      - KAFKA_BROKER_ID={{ kafka_ids[kafka] }}
      - KAFKA_ZOOKEEPER_CONNECT={{ zkparam | trim | replace(' ', ',') }}
      - KAFKA_DEFAULT_REPLICATION_FACTOR={{ kafka_ids | length }}
{% if fabric.kafkasettings is defined %}
{% for pkey, pvalue in fabric.kafkasettings.items() %}
      - KAFKA_{{ pkey | upper }}={{ pvalue }}
{% endfor %}
{% endif %}
{% endfor %}
