apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ${DEPLOY_NGINX_NAME}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ${DEPLOY_NGINX_NAME}
    spec:
      containers:
      - name: nginx
        image: hyperledger/cello-nginx
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        envFrom:
        - configMapRef:
            name: ${CONFIG_NGINX_NAME}
