apiVersion: v1
kind: Service
metadata:
  name: ${SERVICE_NGINX_NAME}
  labels:
    app: ${SERVICE_NGINX_NAME}
spec:
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: ${DEPLOY_NGINX_NAME}
