---
{% if fabric.baseimage_tag == 'stable' or fabric.baseimage_tag == 'latest' %}
{% set project_version = fabric.baseimage_tag %}
{% else %}
{% set tag = fabric.baseimage_tag.split('-') %}
{% set project_version = tag[1] %}
{% endif %}
{% if allorgs | length > 0 %}
Organizations:
{% for org in allorgs %}
  - &{{ org }}
    Name: {{ org }}
    ID: {{ org }}
    MSPDir: {{ fabricworkdir }}/keyfiles/{{ org }}/msp
{% if org in peerorgs %}
{% if project_version is version_compare('1.2.0','>=') or 'stable' in project_version or project_version == 'latest' %}
    Policies:
        Readers:
            Type: Signature
            Rule: "OR('{{ org }}.admin', '{{ org }}.peer')"
        Writers:
            Type: Signature
            Rule: "OR('{{ org }}.admin', '{{ org }}.client')"
        Admins:
            Type: Signature
            Rule: "OR('{{ org }}.admin')"
{% endif %}
{% if org_anchor is defined and org_anchor[org] is defined %}
    AnchorPeers:
      - Host: {{ org_anchor[org].name }}
        Port: 7051
{% endif %}
{% elif org in ordererorgs %}
{% if project_version is version_compare('1.2.0','>=') or 'stable' in project_version or project_version == 'latest' %}
    Policies:
        Readers:
            Type: Signature
            Rule: "OR('{{ org }}.member')"
        Writers:
            Type: Signature
            Rule: "OR('{{ org }}.member')"
        Admins:
            Type: Signature
            Rule: "OR('{{ org }}.admin')"
{% endif %}
{% endif %}

{% endfor %}
{% endif %}

{% if project_version is version_compare('1.1.0','>=') or 'stable' in project_version or project_version == 'latest' %}
Capabilities:
  Global: &ChannelCapabilities
{% if project_version is version_compare('1.3.0','>=') or 'stable' in project_version or project_version == 'latest' %}
    V1_3: true
{% elif project_version is version_compare('1.1.0','>=') and project_version is version_compare('1.3.0','<') %}
    V1_1: true
{% endif %}

  Orderer: &OrdererCapabilities
    V1_1: true

  Application: &ApplicationCapabilities
{% if project_version is version_compare('1.3.0','>=') or 'stable' in project_version or project_version == 'latest' %}
    V1_3: true
{% elif project_version is version_compare('1.2.0','>=') and project_version is version_compare('1.3.0','<') %}
    V1_2: true
{% elif project_version is version_compare('1.1.0','>=') and project_version is version_compare('1.2.0','<') %}
    V1_1: true
{% endif %}
{% endif %}
{% if allorderers is defined and ( allorderers|length > 0) %}
Orderer: &OrdererDefaults
  OrdererType: kafka
  Addresses:
{%   for orderer in allorderers %}
    - {{ orderer.name }}:7050
{%   endfor %}
  BatchTimeout: 2s
  BatchSize:
    MaxMessageCount: 10
    AbsoluteMaxBytes: 98 MB
    PreferredMaxBytes: 512 KB
{% if kafkals | length > 0 %}
  Kafka:
    Brokers:
{%   for item in kafkals %}
      - {{ item }}:9092
{%   endfor %}
{% endif %}
  Organizations:
{% for org in ordererorgs %}
    - *{{ org }}
{% endfor %}
{% if project_version is version_compare('1.2.0','>=') or 'stable' in project_version or project_version == 'latest' %}
  Policies:
      Readers:
          Type: ImplicitMeta
          Rule: "ANY Readers"
      Writers:
          Type: ImplicitMeta
          Rule: "ANY Writers"
      Admins:
          Type: ImplicitMeta
          Rule: "MAJORITY Admins"
      BlockValidation:
          Type: ImplicitMeta
          Rule: "ANY Writers"
{% endif %}
{% if project_version is version_compare('1.1.0','>=') or 'stable' in project_version or project_version == 'latest' %}
  Capabilities:
    <<: *OrdererCapabilities
{% endif %}
{% endif %}
Application: &ApplicationDefaults
  Organizations:
{%   for org in peerorgs %}
    - *{{ org }}
{%   endfor %}
{% if project_version is version_compare('1.2.0','>=') or 'stable' in project_version or project_version == 'latest' %}
  Policies:
      Readers:
          Type: ImplicitMeta
          Rule: "ANY Readers"
      Writers:
          Type: ImplicitMeta
          Rule: "ANY Writers"
      Admins:
          Type: ImplicitMeta
          Rule: "MAJORITY Admins"
{% endif %}
{% if project_version is version_compare('1.1.0','>=') or 'stable' in project_version or project_version == 'latest' %}
  Capabilities:
    <<: *ApplicationCapabilities
{% endif %}

{% if project_version is version_compare('1.2.0','>=') or 'stable' in project_version or project_version == 'latest' %}
Channel: &ChannelDefaults
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"
{% endif %}

Profiles:
  OrgChannel:
    Consortium: FabricConsortium
    Application:
      <<: *ApplicationDefaults
  OrdererGenesis:
{% if project_version is version_compare('1.2.0','>=') or 'stable' in project_version or project_version == 'latest' %}
    <<: *ChannelDefaults
{% endif %}
{% if project_version is version_compare('1.1.0','>=') or 'stable' in project_version or project_version == 'latest' %}
    Capabilities:
      <<: *ChannelCapabilities
{% endif %}
{% if allorderers is defined and ( allorderers|length > 0) %}
    Orderer:
      <<: *OrdererDefaults
{% endif %}
    Consortiums:
      FabricConsortium:
        Organizations:
{%   for org in peerorgs %}
          - *{{ org }}
{%   endfor %}
