
/* Copyright IBM Corp, All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 */

@CHARSET "UTF-8";
.ds-analytics{margin-top:20px;font-family:"Helvetica Neue",Arial,sans-serif;}
.dropdown-button{background:#fff none repeat scroll 0 0;border:1px solid rgba(0, 0, 0, 0.1);}
.warning_link{color:#2d7091;border-bottom:1px dotted;}
.warning_link:hover{color:#2d7091;}
.perfect-health-circle{width:155px;height:155px;border:8px solid rgb(76, 175, 80);border-radius:50%;}
.good-health-circle{width:155px;height:155px;border:8px solid rgb(139, 195, 74);border-radius:50%;}
.attention-health-circle{width:155px;height:155px;border:8px solid rgb(255, 152, 0);border-radius:50%;}
.perfect-health-square{width:145px;height:140px;border:1px solid rgb(76, 175, 80);border-top-width:5px;padding:5px;}
.good-health-square{width:145px;height:140px;border:1px solid rgb(139, 195, 74);border-top-width:5px;padding:5px;}
.attention-health-square{width:145px;height:140px;border:1px solid rgb(255, 152, 0);border-top-width:5px;padding:5px;}
.perfect-label{color:rgb(76, 175, 80);font-size:35px;font-style:normal;font-weight:bold;}
.good-label{color:rgb(139, 195, 74);font-size:40px;font-style:normal;font-weight:bold;}
.attention-label{color:rgb(255, 152, 0);font-size:30px;font-style:normal;font-weight:bold;}
.vertical-line{width:1px;height:130px;border-right:1px solid #ccc;}
.font-size-15{font-size:15px;}
.font-size-20{font-size:20px;}
.font-size-50{font-size:50px;}
.health-label-box{width:100%;height:100%;margin-top:-15px;}
.invokeTimes, .responseTime{position:absolute;}
.empty{color:#b2b2b2;line-height:80px;font-style:italic;font-size:25px;}
.iconrefresh{position:absolute;width:20px;height:20px;top:50%;left:50%;margin-top:-10px;margin-left:-10px;}
.td-top-border{border-bottom:0;border-top:1px solid #ddd;}
.animation-td-div{position:relative;opacity:0;bottom:36px;}
.avgBlockTime, .minBlockTime, .maxBlockTime{margin-top:15px;}