
/* Copyright IBM Corp, All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 */

@CHARSET "UTF-8";
.ds-my-chain{width:80%;margin-top:60px;font-family:"Helvetica Neue",Arial,sans-serif;}
.ds-my-chain h1{font-size:24px;color:#4178BE;margin-top:42px;border-bottom:2px solid #4178BE;}
.ds-my-chain th{font-size:16px;color:#4178BE;}
td>a{color:#444444;text-decoration:underline;}
.ds-my-chain thead :hover{color:#FF5003;}
.add-section{margin-top:40px;}
.add-section a{color:#FF5003;line-height:29px;font-size:16px;}
.no-result{color:#b2b2b2;text-align:center;line-height:80px;font-style:italic;font-size:24px;}
.modal_small{min-height:0;width:350px;}
.warning{background:url(/images/warning.png) no-repeat;padding-left:60px;line-height:48px;color:#666;}