
/* Copyright IBM Corp, All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 */

@CHARSET "UTF-8";
.ds-sc-list{width:80%;margin-top:60px;font-family:"Helvetica Neue",Arial,sans-serif;}
.ds-sc-list h1{font-size:24px;color:#4178BE;margin-top:42px;border-bottom:2px solid #4178BE;}
.ds-sc-list th{font-size:16px;color:#4178BE;}
.ds-sc-list thead :hover{color:#FF5003;}
.break_word{word-break:break-all;word-wrap:break-word;}
.img-dropdown{margin-right:12px;margin-left:-2px;}
.add-section{margin-top:40px;}
.add-section a{color:#FF5003;line-height:29px;font-size:16px;}
.add-section a.not-active{color:#999;pointer-events:none;cursor:default;}
.gray{-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);
filter:grayscale(100%);filter:gray;}
.no-result{color:#b2b2b2;text-align:center;line-height:80px;font-style:italic;font-size:24px;}
.upload-overlayer{position:absolute;top:0;left:0;width:100%;height:100%;
background:#fff;z-index:1000;opacity:0;display:none;}
.contract-placeholder{background:#fff none repeat scroll 0 0;border:1px dashed #ddd;border-radius:4px;
color:#999;width:100%;}
.modal_small{min-height:0;width:350px;}
.warning{background:url(/images/warning.png) no-repeat;padding-left:60px;line-height:48px;color:#666;}