
/* Copyright IBM Corp, All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 */

@CHARSET "UTF-8";
.term-of-use{line-height:40px;text-align:center;background:#f6f5f5;position:fixed;left:0px;bottom:0px;width:100%;}