
/* Copyright IBM Corp, All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 */

@CHARSET "UTF-8";
.ds-home{text-align:center;}
.ds-home-title{position:fixed;width:100%;left:0;bottom:60%;}
.dashboard-bgi{
position:fixed;
top:0;left:0;width:100%;height:100%;
background-image:url(/images/dashboard-bgi.jpg);
background-position:center center;
background-repeat:no-repeat;
-webkit-background-size:cover;
background-size:cover;
z-index:-1;
}
.ds-home-subnav{position:fixed;width:100%;left:0px;bottom:20%;}
.ds-home-2parts{width:70%;font-family:"Helvetica Neue",Arial,sans-serif;padding:0;}
.ds-home-2parts .cell{position:relative;width:130px;margin:auto;}
.ds-home-2parts .badge{position:absolute;top:-13px;right:-16px;font-size:20px;line-height:30px;padding:0 10px;}
.ds-home-2parts a{display:block;text-decoration:none;line-height:0;}
.ds-home-2parts p{
background:#0579cc;box-shadow:1px 1px 0px rgba(66,122,192,.8);border-radius:20px;
height:130px;margin-top:0px;margin-bottom:20px;
}
.ds-home-2parts span{font-family:Arial;font-size:16px;color:#222;}
.modal-notes{
width:750px;
background:#ebf7fd none repeat scroll 0 0;
border:1px solid rgba(45, 112, 145, 0.3);
color:#2d7091;
text-shadow:0 1px 0 #fff;
}
.border-table{border:1px solid #ddd;}
.border-table td, .border-table th{border-right:1px solid #ddd;}