---
{% for orderer in allorderers %}
- targets:
  - {{ allips|random }}:{{ k8sports[orderer.name+':8443'] }}
  labels:
    hostname: "{{ orderer.name }}"
{% endfor %}
{% for peer in allpeers %}
- targets:
  - {{ allips|random }}:{{ k8sports[peer.name+':9443'] }}
  labels:
    hostname: "{{ peer.name }}"
{% endfor %}
{% for dsnode in dsnodes %}
{%   set key='metricep-'+(dsnode[1]|replace('.','-')) %}
- targets:
  - {{ k8shosts[key] }}:{{ k8sports[key+':9100'] }}
  labels:
    hostname: "{{ dsnode[1] }}"
{% endfor %}
