doctype html
html
    head
        title IBM Blockchain
        link(rel="icon", type="image/png", href="/images/favicon.png")
        link(rel="stylesheet", href="/css/uikit.almost-flat.min.css")
        link(rel="stylesheet", href="/css/addon/tooltip.almost-flat.min.css")
        link(rel="stylesheet", href="/css/addon/notify.almost-flat.min.css")
        block css
        block js
    block body
    body
        block content