{% extends "layout.html" %}
{% block title %}Host Info{% endblock %}
{% block body %}
{{ super() }}
<h2 class="page-header">Host Information
    <!--
    <button type="button" class="btn btn-danger btn-default btn-primary"
            data-id="{{item.id}}"
            data-title="{{ item.name }}"
            data-toggle="modal"
            data-target="#delete_host_confirm"
            style="float: right;"
            {% if item.clusters|length > 0 %}
            disabled
            {% endif %}
    >
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>

    <button
            data-id="{{item.id}}"
            data-title="{{ item.name }}"
            title="Resetting the host when no cluster at it."
           class="btn btn-danger btn-default btn-primary"
           data-toggle="modal" data-target="#reset_host_confirm"
           style="float: right;"
            {% if item.clusters|length > 0 %}
           disabled
            {% endif %}
    >
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
    </button>

    <button title="Config the host"
           class="btn btn-default btn-info btn-primary edit_host_button"
           id="config_host_button"  data-id="{{item.id}}"
           style="float: right;"
    >
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
-->
</h2>

    <div class="container-fluid">
        <dl class="dl-horizontal">
            <dt>Name<dt> <dd>{{item.name}}</dd>
            <dt>Id<dt> <dd>{{item.id}}</dd>
            <dt>Status<dt> <dd>{{item.status}}</dd>
            <dt>Schedulable<dt> <dd>{{item.schedulable}}</dd>
            <dt>Autofill<dt> <dd>{{item.autofill}}</dd>
            <dt>Type<dt> <dd>{{item.type}}</dd>
            <dt>Capacity<dt> <dd>{{item.capacity|string}}</dd>
            <dt>Host URL<dt> <dd>{{item.daemon_url}}</dd>
            <dt>Logging Level<dt> <dd>{{item.log_level}}</dd>
            <dt>Log Collector<dt> <dd>{{item.log_type}} {{item.log_server}}</dd>
            <dt>Create Time<dt> <dd>{{item.create_ts}}</dd>
            <dt>Clusters<dt> <dd>
            {% for c in item.clusters %}
                <a href="/view/cluster/{{ c }}">{{ c }}</a><br>
            {% endfor %}
    </dd>
    </dl>
    </div>

{% endblock %}