apiVersion: v1
kind: ConfigMap
metadata:
  name: ${CONFIG_PARSE_SERVER_NAME}
data:
  PARSE_SERVER_APPLICATION_ID: $PARSE_SERVER_APPLICATION_ID
  PARSE_SERVER_MASTER_KEY: $PARSE_SERVER_MASTER_KEY
  PARSE_SERVER_REST_API_KEY: $PARSE_SERVER_REST_API_KEY
  PARSE_SERVER_DATABASE_URI: mongodb://$SERVICE_MONGO_NAME/$PARSE_SERVER_DB_NAME
  PARSE_SERVER_OBJECT_ID_SIZE: "32"
  PARSE_SERVER_JAVASCRIPT_KEY: $PARSE_SERVER_JAVASCRIPT_KEY
  PARSE_SERVER_CLOUD: cloud/main.js
