
<!-- Copyright IBM Corp, All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
-->

<div class="uk-grid uk-margin-large-top">
	<div class="uk-text-center">
		<% if (health >= 90) { %>
		<div class="uk-vertical-align uk-margin-bottom perfect-health-circle">
			<label class="uk-vertical-align-middle perfect-label">Perfect</label>
		</div>
		<% } else if (health >= 80) { %>
		<div class="uk-vertical-align uk-margin-bottom good-health-circle">
			<label class="uk-vertical-align-middle good-label">Good</label>
		</div>
		<% } else { %>
		<div class="uk-vertical-align uk-margin-bottom attention-health-circle">
			<label class="uk-vertical-align-middle attention-label">Attention</label>
		</div>
		<% } %>
		<label class="font-size-20">Health</label>
	</div>
	<div class="uk-vertical-align">
		<div class="uk-vertical-align-middle vertical-line" style="margin-bottom:37px;"></div>
	</div>
	<div class="uk-text-center">
		<div style="height:171px;" class="uk-vertical-align uk-margin-bottom">
			<label class="uk-vertical-align-middle">
				<% if (runTime.length == 4) { %>
				<span class="font-size-50">${runTime[0]}</span>
				<span class="uk-margin-right font-size-20">${runTime[1]}</span>
				<span class="font-size-50">${runTime[2]}</span>
				<span class="font-size-20">${runTime[3]}</span>
				<% } else { %>
				<span class="font-size-50">${runTime[0]}</span>
				<span class="font-size-20">${runTime[1]}</span>
				<% } %>
			</label>
		</div>
		<label class="font-size-20">Run Time</label>
	</div>
	<div class="uk-vertical-align">
		<div class="uk-vertical-align-middle vertical-line" style="margin-bottom:37px;"></div>
	</div>
	<div class="uk-text-center">
		<div style="height:171px;" class="uk-vertical-align uk-margin-bottom">
			<label class="uk-vertical-align-middle">
				<span class="font-size-50">${chaincodes}</span>
			</label>
		</div>
		<label class="font-size-20">Chaincodes</label>
	</div>
	<div class="uk-vertical-align">
		<div class="uk-vertical-align-middle vertical-line" style="margin-bottom:37px;"></div>
	</div>
	<div class="uk-text-center">
		<div style="height:171px;" class="uk-vertical-align uk-margin-bottom">
			<label class="uk-vertical-align-middle">
				<span class="font-size-50">${blocks}</span>
			</label>
		</div>
		<label class="font-size-20">Blocks</label>
	</div>
</div>