
<!-- Copyright IBM Corp, All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
-->

<tr>
	<td>
		<% if (status == "running") { %>
			<a href="/dashboard/chain/${id}">${name}</a>
		<% } else { %>
			${name}
		<% } %>
		<div class="uk-button-dropdown uk-float-right uk-margin-right" data-uk-dropdown>
			<div><i class="uk-icon-chevron-circle-down" style="color:#ff5003;"></i></div>
			<div class="uk-dropdown uk-dropdown-small">
				<ul class="uk-nav uk-nav-dropdown">
					<li>
						<a data-type="edit" data-chain-id="${id}" data-chain-name="${name}" data-description="${description}">
							<i class="uk-icon-pencil uk-margin-right"></i>Edit
						</a>
					</li>
					<% if (status == "stopped") { %>
					<li>
						<a data-type="start" data-chain-id="${id}">
							<i class="uk-icon-play uk-margin-right"></i>Start
						</a>
					</li>
					<% } else { %>
					<li style="color:#999;padding:3px 15px;">
						<i class="uk-icon-play uk-margin-right"></i>Start
					</li>
					<% } %>
					<% if (status == "running") { %>
					<li>
						<a data-type="stop" data-chain-id="${id}">
							<i class="uk-icon-stop uk-margin-right"></i>Stop
						</a>
					</li>
					<% } else { %>
					<li style="color:#999;padding:3px 15px;">
						<i class="uk-icon-stop uk-margin-right"></i>Stop
					</li>
					<% } %>
					<li>
						<a data-type="restart" data-chain-id="${id}">
							<i class="uk-icon-repeat uk-margin-right"></i>Restart
						</a>
					</li>
					<li>
						<a data-type="release" data-chain-id="${id}">
							<i class="uk-icon-trash uk-margin-right"></i>Release
						</a>
					</li>
				</ul>
			</div>
		</div>
	</td>
	<td>${runTime}</td>
	<td>${plugin}</td>
	<td>${mode}</td>
	<td>${size + " nodes"}</td>
	<td>${instances}</td>
	<td>
		<i class="uk-icon-database uk-margin-small-right"></i>
		${cost + " / day"}
	</td>
	<td>
		<% if (status == "running") { %>
			<i class="uk-icon-check-circle" style="color:#659f13;"></i>
		<% } else if (status == "stopped") { %>
			<i class="uk-icon-stop-circle" style="color:#e28327;"></i>
		<% } else { %>
			<i class="uk-icon-times-circle" style="color:#d85030;"></i>
		<% } %>
		${status}
	</td>
</tr>