user www-data;
worker_processes 1;
pid /run/nginx.pid;

events {
        worker_connections 256;
        # multi_accept on;
}

stream {
    upstream dns_upstreams {
        server {{ private_ip }}:30053;
    }

    server {
        listen 53;
        proxy_pass dns_upstreams;
        proxy_timeout 1s;
        proxy_responses 1;
    }

    server {
        listen 53 udp;
        proxy_pass dns_upstreams;
        proxy_timeout 1s;
        proxy_responses 1;
    }
}