---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: k8spv
spec:
  capacity:
    storage: 5Gi
  storageClassName: "default"
  accessModes:
  - ReadWriteMany
  nfs:
    path: /
    server: {{ private_ip }}
  persistentVolumeReclaimPolicy: Recycle
