apiVersion: v1
kind: ConfigMap
metadata:
  name: ${CONFIG_USER_DASHBOARD_NAME}
data:
  RESTFUL_SERVER: $SERVICE_OPERATOR_DASHBOARD_NAME:8080
  WEBROOT: $USER_DASHBOARD_WEBROOT
  FABRIC_CFG_PATH: /etc/hyperledger/fabric
  SSO_KEY: $USER_DASHBOARD_SSO_KEY
  SSO_SECRET: $USER_DASHBOARD_SSO_SECRET
  SERVER_PUBLIC_IP: $SERVER_PUBLIC_IP
  KEYCLOAK_REALM: $KEYCLOAK_REALM
  KEYCLOAK_SERVER_PORT: "$KEYCLOAK_SERVER_PORT"
  PARSE_SERVER_URL: http://$SERVICE_PARSE_SERVER_NAME:1337/parse
  PARSE_SERVER_APPLICATION_ID: $PARSE_SERVER_APPLICATION_ID
  PARSE_SERVER_MASTER_KEY: $PARSE_SERVER_MASTER_KEY
  PARSE_SERVER_JAVASCRIPT_KEY: $PARSE_SERVER_JAVASCRIPT_KEY
