apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ${DEPLOY_USER_DASHBOARD_NAME}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ${DEPLOY_USER_DASHBOARD_NAME}
    spec:
      containers:
      - name: user-dashboard
        image: hyperledger/cello-user-dashboard
        ports:
        - containerPort: 8081
        envFrom:
        - configMapRef:
            name: ${CONFIG_USER_DASHBOARD_NAME}
        volumeMounts:
        - name: user-dashboard-source-code
          mountPath: /var/www
        - name: user-dashboard-data
          mountPath: /opt/data
        env:
        - name: NODE_ENV
          value: dev
        - name: DEBUG
          value: node:*
        - name: DEV
          value: "True"
        - name: LOG_LEVEL
          value: DEBUG
      volumes:
      - name: user-dashboard-data
        hostPath:
          path: /opt/cello/baas
      - name: user-dashboard-source-code
        hostPath:
          path: $ROOT_PATH/src/user-dashboard/src
