apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ${INGRESS_USER_DASHBOARD_NAME}
  annotations:
    ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - http:
      paths:
      - path: $USER_DASHBOARD_WEBROOT
        backend:
          serviceName: ${SERVICE_USER_DASHBOARD_NAME}
          servicePort: 8081
