apiVersion: v1
kind: Service
metadata:
  name: ${SERVICE_USER_DASHBOARD_NAME}
  labels:
    app: ${SERVICE_USER_DASHBOARD_NAME}
spec:
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: egg-js
  selector:
    app: ${DEPLOY_USER_DASHBOARD_NAME}