apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ${DEPLOY_MONGO_NAME}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ${DEPLOY_MONGO_NAME}
    spec:
      containers:
      - name: mongo
        image: mongo:3.4.10
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 27017
        env:
        - name: NO_USED
          value: "0"
        volumeMounts:
        - name: mongodb
          mountPath: /data/db
      volumes:
      - name: mongodb
        hostPath:
          path: /opt/cello/mongo
