apiVersion: v1
kind: Service
metadata:
  name: ${SERVICE_MONGO_NAME}
  labels:
    app: ${SERVICE_MONGO_NAME}
spec:
  ports:
  - port: 27017
    targetPort: 27017
    protocol: TCP
    name: mongo
  selector:
    app: ${DEPLOY_MONGO_NAME}