---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fabriccerts
spec:
  storageClassName: {{ storageclass }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
