---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fabriccerts
  namespace: "{{ namespace }}"
spec:
  storageClassName: "{{ fabric.k8s.storageclass }}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ fabric.k8s.storagecapacity }}"
