      resources:
        requests:
          memory: "{{ fabric.k8s.mem_req }}"
          cpu: "{{ fabric.k8s.cpu_req }}"
        limits:
          memory: "{{ fabric.k8s.mem_limit }}"
          cpu: "{{ fabric.k8s.cpu_limit }}"

