{% for peer in allpeers %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ peer.name }}.{{ peer.org}}
type: Opaque
data:
  tls.ca.crt: YWRtaW4=
  tls.server.crt: whatever
  tls.server.key: whatever
{% endfor %}
