apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
{% if cluster.node_ip | default('private_ip') == 'private_ip' %}
    server: http://{{ private_ip }}:8080
{% else %}
    server: https://{{ public_ip }}:6443
{% endif %}
  name: k8sonos
contexts:
- context:
    cluster: k8sonos
    user: "admin"
  name: k8s
current-context: k8s
kind: Config
preferences: {}
users:
{% for token in k8stokens %}
  - name: {{ token.name }}
    user:
      token: {{ token.token }}
{% endfor %}

