apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: http://{{ private_ip }}:8080
  name: k8sonos
contexts:
- context:
    cluster: k8sonos
    user: ""
  name: k8s
current-context: k8s
kind: Config
preferences: {}
users: []
