apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ${DEPLOY_API_ENGINE_TASKS_NAME}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ${DEPLOY_API_ENGINE_TASKS_NAME}
    spec:
      containers:
      - name: api-engine-tasks
        image: hyperledger/cello-api-engine
        imagePullPolicy: IfNotPresent
        command: ["celery"]
        args: ["-A", "api_engine", "worker", "--autoscale=20,6", "-l", "info"]
        envFrom:
        - configMapRef:
            name: ${CONFIG_API_ENGINE_NAME}
        env:
        - name: DEBUG
          value: "True"
        volumeMounts:
        - name: api-engine
          mountPath: /var/www/server
        - name: media
          mountPath: /var/www/media
      volumes:
      - name: api-engine
        hostPath:
          path: ${ROOT_PATH}/src/api-engine
      - name: media
        hostPath:
          path: /opt/cello/api-engine/media
