apiVersion: v1
kind: ConfigMap
metadata:
  name: ${CONFIG_MYSQL_NAME}
data:
  MYSQL_DATABASE: keycloak
  MYSQL_USER: $KEYCLOAK_DB_USERNAME
  MYSQL_PASSWORD: $KEYCLOAK_DB_PASSWORD
  MYSQL_ROOT_PASSWORD: $KEYCLOAK_MYSQL_ROOT_PASSWORD
