apiVersion: v1
kind: Service
metadata:
  name: ${SERVICE_MYSQL_NAME}
  labels:
    app: ${SERVICE_MYSQL_NAME}
spec:
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
    name: mysql
  selector:
    app: ${DEPLOY_MYSQL_NAME}
