apiVersion: v1
kind: Service
metadata:
  name: ${SERVICE_OPERATOR_DASHBOARD_NAME}
  labels:
    app: ${SERVICE_OPERATOR_DASHBOARD_NAME}
spec:
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: operator
  selector:
    app: ${DEPLOY_OPERATOR_DASHBOARD_NAME}