[Unit]
Description=Fabric Flanneld Service

[Service]
Environment="FLANNELD_IFACE={{ node_ip }}"
Environment="FLANNELD_ETCD_ENDPOINTS={{ etcd_cluster }}"
Environment="FLANNELD_ETCD_PREFIX=/coreos.com/network/"
Environment="FLANNELD_IP_MASQ=false"
ExecStart={{ fabricpath }}/bin/flanneld
Restart=always
RestartSec=2s
StartLimitInterval=0
KillMode=process
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target