---
{% for orderer in allorderers %}
- targets:
  - {{ orderer.name }}:8443
  labels:
    hostname: "{{ orderer.name }}"
{% endfor %}
{% for peer in allpeers %}
- targets:
  - {{ peer.name }}:9443
  labels:
    hostname: "{{ peer.name }}"
{% endfor %}
{% for dsnode in dsnodes %}
{%   set key='metricep-'+(dsnode[1]|replace('.','-')) %}
- targets:
  - {{ key }}:9100 }}
  labels:
    hostname: "{{ dsnode[1] }}"
{% endfor %}

