
<!-- Copyright IBM Corp, All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
-->

<tr>
	<td>
		<label>${name}</label>
		<div class="uk-button-dropdown uk-float-right uk-margin-right" data-uk-dropdown>
			<div><i class="uk-icon-chevron-circle-down" style="color:#ff5003;"></i></div>
			<div class="uk-dropdown uk-dropdown-small">
				<ul class="uk-nav uk-nav-dropdown">
					<li>
						<a data-type="deploy" data-contract-id="${id}">
							<img class="img-dropdown" src="/images/icon-deploy-small.svg" data-uk-svg>Deploy
						</a>
					</li>
					<% if (private_contract) { %>
					<li>
						<a data-type="edit" data-contract-id="${id}" data-contract-name="${name}"
							data-contract-description="${description}" data-contract-version="${version}"
							data-contract-author="${author}">
							<i class="uk-icon-pencil uk-margin-right"></i>Edit
						</a>
					</li>
					<li>
						<a data-type="delete" data-contract-id="${id}">
							<i class="uk-icon-trash uk-margin-right"></i>Delete
						</a>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</td>
	<td class="break_word">${description}</td>
	<td>${version}</td>
	<td>${author}</td>
</tr>