extends ../../layout

block css
    link(rel="stylesheet", href="/css/addon/sticky.almost-flat.min.css")
    link(rel="stylesheet", href="/css/dashboard/overlayer.css")
    link(rel="stylesheet", href="/css/dashboard/navbar.css")
    link(rel="stylesheet", href="/css/dashboard/analytics.css")
block js
    script(data-main="/js/entry/analytics/fabric" src="/js/lib/require.js")
block content
    include ../includes/navbar.pug
    +active("analytics")
    section.ds-analytics.uk-container.uk-container-center.uk-padding-remove
        .uk-grid
            .uk-width-1-5
                include includes/catalog.pug
                +active("fabric")
            .uk-width-4-5
                include includes/chainSelector.pug
                #analyticsPanel.uk-margin-top
        div(style="height:80px;")