apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ${DEPLOY_POSTGRES_NAME}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ${DEPLOY_POSTGRES_NAME}
    spec:
      containers:
      - name: postgres
        image: postgres:11.1
        ports:
        - containerPort: 5432
        envFrom:
        - configMapRef:
            name: ${CONFIG_POSTGRES_NAME}
        volumeMounts:
        - name: db-path
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: db-path
        hostPath:
          path: /opt/cello/postgres
