apiVersion: v1
kind: Service
metadata:
  name: ${SERVICE_POSTGRES_NAME}
  labels:
    app: ${SERVICE_POSTGRES_NAME}
spec:
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: ${DEPLOY_POSTGRES_NAME}
