---
file_sd_configs:
{% for orderer in allorderers %}
  - targets:
    - "http://{{ orderer.name }}:8443"
    labels:
      hostname: "{{ orderer.name }}"
{% endfor %}
{% for peer in allpeers %}
  - targets:
    - "http://{{ peer.name }}:9443"
    labels:
      hostname: "{{ peer.name }}"
{% endfor %}

