apiVersion: v1
kind: ConfigMap
metadata:
  name: ${CONFIG_RABBITMQ_NAME}
data:
  RABBITMQ_DEFAULT_USER: $RABBITMQ_DEFAULT_USER
  RABBITMQ_DEFAULT_PASS: $RABBITMQ_DEFAULT_PASS
  RABBITMQ_DEFAULT_VHOST: $RABBITMQ_DEFAULT_VHOST
