apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ${DEPLOY_RABBITMQ_NAME}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ${DEPLOY_RABBITMQ_NAME}
    spec:
      containers:
      - name: rabbitmq
        image: rabbitmq
        ports:
        - containerPort: 5672
        envFrom:
        - configMapRef:
            name: ${CONFIG_RABBITMQ_NAME}
