apiVersion: v1
kind: Service
metadata:
  name: ${SERVICE_RABBITMQ_NAME}
  labels:
    app: ${SERVICE_RABBITMQ_NAME}
spec:
  ports:
  - port: 5672
    targetPort: 5672
    protocol: TCP
    name: http
  selector:
    app: ${DEPLOY_RABBITMQ_NAME}