---
kind: Pod
apiVersion: v1
metadata:
  name: composerplayground
  labels:
    k8s-app: composerplayground
    type: composerplayground
spec:
  volumes:
    - name: task-pv-storage
      persistentVolumeClaim:
       claimName: fabriccerts
  containers:
    - name: composerplayground
      image: hyperledger/composer-playground:next
      volumeMounts:
        - mountPath: "/fabriccerts"
          name: task-pv-storage
        - mountPath: "/home/composer/.composer"
          name: task-pv-storage
          subPath: fabriccerts/.composer
---
kind: Service
apiVersion: v1
metadata:
  labels:
    k8s-app: composerplayground
  name: composerplayground
spec:
  selector:
    k8s-app: composerplayground
  type: NodePort
  ports:
    - name: port1
      port: 8080
