---
kind: Pod
apiVersion: v1
metadata:
  name: composercli
  labels:
    type: composercli
spec:
  volumes:
    - name: task-pv-storage
      persistentVolumeClaim:
       claimName: fabriccerts
  containers:
    - name: composercli
      image: hyperledger/composer-cli:next
      command: ["sleep"]
      args:
        - "3000"
      volumeMounts:
        - mountPath: "/fabriccerts"
          name: task-pv-storage
        - mountPath: "/home/composer/.composer"
          name: task-pv-storage
          subPath: fabriccerts/.composer
